* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #FAFAF8;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  background-color: white;
  
}

.logo {
  width: 43px;
  height: 52px;
  margin-right: 11px;
}

.header-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  padding-top: 78px;
}

.main-input {
  margin-right: 9px;
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.main-input:focus {
  outline: none;
  border: 1px solid #141413;
}

.main-button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.15s, border 0.15s;
}

.reset-button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: hsl(0, 100%, 45%);
  color: #FAFAF8;
  width: 100px;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.15s, border 0.15s;
  margin-left: 9px;
}


.reset-button:hover {
  background-color: white;
  border: 1px solid hsl(0, 100%, 45%);
  color: hsl(0, 100%, 45%);
}

.main-button:hover {
  background-color: white;
  border: 1px solid #141413;
  color: #141413
}

.main-button:before {
  content: "+";
  margin-right: 5px;
}

.main-section {
  padding-left: 456px;
}

.get-recipe-container {
  background-color: #F0EFEB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 594px;
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 56px;
  margin-left: -24px;
}

.ready-for-recipe {
  font-weight: 500;
}

.get-recipe-left-section {
  margin-left: 12px;
}

.get-recipe-button {
  font-family: Inter, 'sans serif';
  border: none;
  border-radius: 6px;
  background-color: #D17557;
  color: white;
  padding: 9px 17px 9px 17px;
  margin-right: 12px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.get-recipe-button:hover {
  background-color: hsl(15, 57%, 53%)
}

.get-recipe-button:active {
  background-color: hsl(15, 57%, 48%)
}

.ready-for-recipe {
  font-size: 18px;
  font-weight: 500;
}
.generate-recipe {
  font-size: 14px;
  font-weight: 400;
  color: #6B7280;
}

.ingredients-list {
  color: #6B7280;
  margin-bottom: 56px;
  line-height: 32px;
}

.recommendation-section {
  padding-left: 200px;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
  margin-left: 48px;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.delete-list-item {
  border: none;
  background-color: #FAFAF8;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: background-color 0.15s;
  cursor: pointer;
}

.delete-list-item:hover {
  background-color: hsl(60, 23%, 92%);
}

.delete-list-item:active {
  background-color: hsl(60, 23%, 87%);
}

@media screen and (max-width: 1200px) {
  .main-section {
    margin-left: -400px;
  }

  .list-item {
    width: 250px;
  }

  .get-recipe-container {
    width: 300px;
  }

  .ready-for-recipe,
  .generate-recipe {
    font-size: 13px;
  }


}